**/__pycache__/
AIR/results
AIR/results_eval
Dataset_Generation/CLEVR/clevr_source
Dataset_Generation/CLEVR/clevr_samples
Dataset_Generation/COCO/COCO_raw
Dataset_Generation/COCO/coco_samples
Dataset_Generation/dSprites/dsprites_samples
Dataset_Generation/dSprites/dsprites_ndarray_co1sh3sc6or40x32y32_64x64.npz
Dataset_Generation/ScanNet/scannet_raw
Dataset_Generation/ScanNet/scannet_samples
Dataset_Generation/ScanNet/scans_processed
Dataset_Generation/ScanNet/scans_split
Dataset_Generation/Tetris/tetris_samples
Dataset_Generation/Tetris/tetris_source
Dataset_Generation/Tetris/tetrominoes_train.tfrecords
Dataset_Generation/YCB/ycb_samples
Dataset_Generation/YCB/YCB_Video_Dataset
Dataset_Generation/YCB/ycb_tfrecord
IODINE/checkpoints
MONet/results
MONet/results_eval
Slot_Attention/results
Complexity_Factors/results
Complexity_Factors/results_figure